@model System.Collections.Generic.List<ASPHotel.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
    Layout = "_Layout";
}
<a asp-controller="Hotel" asp-action="Add" class="btn btn-primary mb-3" style="float: right">Add New</a>
<div class="container">
    <h1>Hotels</h1>

    

    
    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@hotel.ImgURL"  class="img-fluid rounded-start"
                     alt="@hotel.Name" style="padding: 10px; height: 200px; width: 250px">
                <div class="card-body">
                    <h5 class="card-title">@hotel.Name</h5>
                    
                    <div class="rating">
                        @for (int i = 0; i < hotel.Rating; i++)
                        {
                            <i class="fa fa-star" aria-hidden="true" style="color: gold"></i>
                        }
                    </div>
                    <p class="card-text">Location: @hotel.Location</p>
                    
                    <a href="@Url.Action("Details", "Hotel", new { id = hotel.HotelId })" class="btn btn-primary">View</a>
                    <a asp-controller="Hotel" asp-action="Delete" asp-route-id="@hotel.HotelId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>